.App,html {
  background-color: #36393f
}

.App {
  color: #fff!important
}

#greet,.MuiList-root li,.MuiTab-wrapper {
  color: #fff
}

.MuiFormLabel-root {
  color: #fff!important
}

.MuiInput-underline:before {
  border-bottom: 1px solid #fff!important
}

.MuiList-root {
  background-color: #464a52
}

#mtable .MuiPaper-root,#mtable .MuiTableCell-head {
  background-color: #36393f;
  color: #fff
}

#mtable .MuiButton-root,#mtable .MuiIcon-root,#mtable .MuiInputBase-input,#mtable .MuiSelect-root,#mtable .MuiTableCell-body,#mtable .MuiTypography-root,.MuiDialog-paper .MuiInputBase-input,.MuiDialog-paper .MuiSelect-root,.MuiDialogActions-root .MuiSvgIcon-root,a:hover {
  color: #fff
}

.MuiCard-root,.MuiDialog-paper {
  background-color: #464a52!important;
  color: #fff!important
}

.MuiCheckbox-root,.MuiInputBase-input,.MuiSelect-icon {
  color: #fff!important
}

#mtable .MuiToolbar-root {
  background-color: #464a52
}

.MuiInput-underline:after {
  border-bottom: 2px solid #e83e8c!important
}

.MuiCardHeader-title p {
  color: #a8a8a8!important
}

.MuiButton-textPrimary {
  background-color: #3f51b5!important;
  color: #fff!important
}

.MuiButton-textSecondary {
  background-color: #f50057!important;
  color: #fff!important
}

.MuiTypography-colorTextSecondary {
  color: #fff!important
}

#mtable .MuiSvgIcon-root {
  color: #fff
}

#mtable .MuiCheckbox-colorSecondary {
  color: #e83e8c
}

.Mui-checked .MuiSvgIcon-root {
  color: #e83e8c!important
}

#mtable .MuiTableSortLabel-root.MuiTableSortLabel-active,#mtable .MuiTableSortLabel-root:hover {
  color: #818181
}

.MuiOutlinedInput-notchedOutline {
  border-color: #fff!important
}

.MuiChip-outlinedPrimary {
  color: #a2b0ff!important;
  border: 1px solid #a2b0ff!important
}

.MuiChip-deleteIconOutlinedColorPrimary {
  color: #a2b0ff!important
}

.MuiIconButton-label .MuiSvgIcon-root {
  color: #fff
}