html {
  background-color: #36393f;
}

#greet {
  color: white;
}

.App {
  background-color: #36393f;
  color: white !important;
}

.MuiTab-wrapper {
  color: white;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid white !important;
}

.MuiList-root {
  background-color: #464a52;
}

.MuiList-root li {
  color: white;
}

#mtable .MuiPaper-root{
  background-color: #36393f;
  color: white;
}

#mtable .MuiTableCell-head {
  background-color: #36393f;
  color: white;
}

#mtable .MuiSelect-root {
  color: white;
}

#mtable .MuiTypography-root {
  color: white;
}

#mtable .MuiIcon-root {
  color: white;
}

#mtable .MuiTableCell-body {
  color: white;
}

#mtable .MuiInputBase-input {
  color: white;
}

.MuiCard-root {
  background-color: #464a52 !important;
  color: white !important;
}

.MuiDialog-paper {
  background-color: #464a52 !important;
  color: white !important;
}

.MuiDialog-paper .MuiSelect-root {
  color: white;
}

.MuiDialog-paper .MuiInputBase-input {
  color: white;
}

#mtable .MuiButton-root {
  color: white;
}

#mtable .MuiCheckbox-colorSecondary.Mui-checked {
  color: #e83e8c !important;
}

#mtable div[class*=" MTableToolbar-highlight-"] {
  background-color: #e83e8c;
}

.MuiSelect-icon {
  color: white !important;
}

.MuiCheckbox-root {
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}