.App {
  text-align: center;
  -ms-overflow-style: none
}

.App::-webkit-scrollbar {
  display: none
}

.MuiFormControlLabel-root {
  margin: 0
}

#correct .MuiFormControl-marginNormal {
  margin-top: 0
}