#exam {
  font-family: "Serif";
  font-size: 17pt
}

#exam p {
  display: inline
}

#exam ul p {
  display: block
}

#question {
  page-break-inside: avoid;
  break-inside: avoid
}

#question:last-of-type ul {
  margin-bottom: 0
}

#question:last-of-type ul:last-child p:last-child {
  margin-bottom: 0
}

@page {
  margin:1in
}

@media print {
  #noprint,.MuiTooltip-popper {
      display: none
  }
}