#exam {
  /* Font styling */
  font-family: "Serif"; 
  font-size: 17pt; 
}  

#question {
  /* These rules prevent questions getting cut off between pages */
  page-break-inside: avoid;  
  break-inside: avoid;
}

@page {
  /* Page margins */
  margin: 1in;
}

@media print {
  #noprint {
    display: none;
  }
  .MuiTooltip-popper {
    display: none;
  }
}